.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.modal-dialog {
  max-width: 1040px;
}

.download {
  background: url("../images/download-background.jpg") center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}
.btn-primary {
  background-color: #264aca !important;
  border-color: #264aca !important;
}
.popup-message {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
}

.popup-message.error {
  background-color: #f44336;
}

.popup-message.success {
  background-color: #4caf50;
}
@media (max-width: 1000px) {
  .navbar {
    background: var(--bs-dark);
  }

  .hero .image-container {
    display: flex;
    justify-content: center;
  }

  .hero .text-container {
    text-align: center;
  }
}
